{% load static %}
</body>
<footer class="footer">
    <div id="rrss">
        <a target="_blank" href="https://github.com/GaboAbo">
            <img id="git" alt="">
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/robert-gabriel-mendoza-tovar-2aa3b9b8/">
            <img id="linkedin" alt="">
        </a>
        <p>Author: GaboAbo</p>
    </div>
    <p id="disclaimer">This ChatBot was made only for demostration purposes, please do not use more than necessary.</p>
</footer>
</html>