{% include "header.html" %}
{% load static %}
    {% if user.is_authenticated %}
    <div class="chatbox">
        <div class="box">
        <!--If the value ai_message is not empty, the message bubbles will be showed-->
        {% if ai_message %}
            <pre>{{ u_time|time:"H:i" }}, User: <code class="user">{{ u_message }}</code></pre>
            <pre>{{ ai_time|time:"H:i" }}, BOT.: <code class="ai">{{ ai_message }}</code></pre>
        {% endif %}
        </div>
        <div class="user-interface">
            <form action="" method="POST" class="">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="" class="user-submit">
            </form>
        </div>
    </div>
    {% else %}
    <div class="auth-form">
        <h3 class="auth-title">This ChatBot is only for registered users.</h3>
        <h3 class="auth-title"><a href="{{ '/login/' }}">Login</a></h3>
        <h3 class="auth-title"><a  href="{{ '/register/' }}">Sign in</a></h3>
    </div>
    {% endif %}
{% include "footer.html" %}